global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds.
  evaluation_interval: 15s # Evaluate rules every 15 seconds.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration:

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      # - alertmanager:9093

# Load rules once and periodically evaluate them:

rule_files:

  # - "first_rules.yml"
  # - "second_rules.yml"

# The scrape configuration:

scrape_configs:
  - job_name: 'cryptowat'
    static_configs:
      - targets: ['localhost:{{ cryptowat_port }}']

  - job_name: 'validator'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:{{ validator_monitor_port }}']

  - job_name: 'beacon node'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:{{ beaconchain_monitor_port }}']

  - job_name: 'node_exporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:{{ node_exporter_monitor_port }}']
